<h1><%= @item.name %></h1>

<button class="silver btn-small"><%= link_to 'Edit', edit_sub_item_path([@sub, @item]) %>
</button>
<button class="silver btn-small"><%= link_to 'Delete', [@sub, @item], method: :delete  %>
</button>
<button class="grey lighten-3 btn-small"><%= link_to 'Back', sub_items_path(@sub) %>
</button>
