<nav class="blue accent-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Big Box Co.</a>
    <a
      href="#"
      data-activates="mobile"
      class="button-collapse"
    >
      <i class="material-icons">Big Box Co.</i>
    </a>
    <p class = right>
      <%= link_to 'Home', root_path %>

    </p>
  </div>
</nav>
